<nav class="navbar navbar-expand-sm bg-dark container" style="color: white;">
    <ul style="margin-left: 0px;">
        <a (click)="logout()" style="cursor: pointer; right: 0; margin-left: -30px; margin-top: 10px;" class="btn btn-danger" routerLinkActive="active">Esci</a>
        <a href="https://www.iisgalvanimi.edu.it/" style="cursor: pointer; right: 0; margin-left: 5px; margin-top: 10px;" class="btn btn-danger" routerLinkActive="active">Chi Siamo</a>
        <a style="cursor: pointer; right: 0; margin-left: 425px; margin-top: 10px;" class="btn btn-danger" routerLinkActive="active" onclick="location.reload()">RAMSAC</a>
        <div class="copyright">
            <p>© All rights reserved.</p>
         </div>
    </ul>
</nav>
<br><br><br>
<div class="container">
    <div class="row d-flex justify-content-center" >
        <div class="col text-center">
            <img src="assets/images/docente.png" alt="Image" class="img-fluid mb-4 mt-4" style="height: 400px; width: 400px;" ><br>
            <button (click)="doce()" type="button" class="btn btn-outline-primary btn-lg">Docenti</button>
        </div>
        <div class="col text-center">
            <img src="assets/images/verifica.png" alt="Image1" class="img-fluid mb-4 mt-4" style="height: 400px; width: 400px;" ><br>
            <button (click)="veri()"type="button" class="btn btn-outline-primary btn-lg">Verifiche</button>
        </div>
    </div>
</div>