<div class="panel panel-primary container">
    <div class="panel-heading">
      <h2>Verifiche</h2>
      <nav class="navbar navbar-expand-sm bg-dark" style="color: white; "> 
        <ul>
          <a (click)="back()" style="cursor: pointer; right: 0; margin-left: 1px; margin-top: 10px;" class="btn btn-danger" routerLinkActive="active">Home</a>
        </ul>
      </nav><br>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>Titolo</td>
            <td>Corso</td>
            <td>Difficoltà</td>
            <td>Durata</td>
            <td>Classe</td>
            <td>Materia</td>
            <td>Scarica</td>
            <td>Griglia</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{row.id}}</td>
            <td>{{row.title}}</td>
            <td>{{row.course}}</td>
            <td>{{row.difficulty}}</td>
            <td>{{row.duration}}</td>
            <td>{{row.classe}}</td>
            <td>{{row.subject}}</td>
            <td>         
              <a href="{{row.link}}" class="btn btn-success">&#8595;</a>
            </td>
            <td>         
              <a href="{{row.griglia}}" class="btn btn-warning">&#8595;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>